apiVersion: v1
kind: Service
metadata:
  name: kepler
  namespace: kepler-system
  labels:
    app.kubernetes.io/name: kepler
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9102
      targetPort: 9102
      protocol: TCP
  selector:
    app.kubernetes.io/name: kepler
