apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: my-api

namePrefix: prod-

labels:
  - pairs:
      environment: production
    includeSelectors: false

resources:
  - ../../base

patches:
  - path: patches/service-patch.yaml
  - path: patches/configmap-patch.yaml
