apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: kepler
      spec:
        template:
          spec:
            containers:
              - name: kepler
                env:
                  - name: KEPLER_LOG_LEVEL
                    value: "1"
                  - name: ENABLE_GPU
                    value: "true"
                resources:
                  requests:
                    cpu: 100m
                    memory: 400Mi
                  limits:
                    cpu: 1000m
                    memory: 2Gi
