apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: kepler
      spec:
        template:
          spec:
            containers:
              - name: kepler
                env:
                  - name: KEPLER_LOG_LEVEL
                    value: "5"
                resources:
                  requests:
                    cpu: 50m
                    memory: 200Mi
                  limits:
                    cpu: 200m
                    memory: 512Mi
